{% extends '/backend/layout.twig' %}

{% block content %}
  {# <div id="homeAdmin" class="container">
    <div class="col-md-12">
      <div id="CRUD-billets">
        <h3>Billets</h3>
        <div class="row ">
          <div class="col-4 themed-grid-col">
            <a href="index.php?action=createPost">
              <i class="material-icons">note_add</i>
              <p>Ecrire un billet</p>
            </a>
          </div>
          <div class="col-4 themed-grid-col">
            <a href="index.php?action=adminListPosts">
              <i class="material-icons">create</i>
              <p>Modifier un billet</p>
            </a>
          </div>
          <div class="col-4 themed-grid-col">
            <a href="index.php?action=adminListPosts">
              <i class="material-icons">delete_sweep</i>
              <p>Supprimer un billet</p>
            </a>
          </div>
        </div>
      </div>

      <div id="CRUD-commentaires">
        <h3>Commentaires</h3>
        <div class="row ">
          <div class="col-4 themed-grid-col">
            <a href="index.php?action=reportedCommentsList">
              <i class="material-icons">note_add</i>
              <p>Les commentaires signalés</p>
            </a>
          </div>
          <div class="col-4 themed-grid-col">
            <a href="index.php?action=commentsList">
              <i class="material-icons">create</i>
              <p>Modifier un commentaire</p>
            </a>
          </div>
          <div class="col-4 themed-grid-col">
            <a href="index.php?action=commentsList">
              <i class="material-icons">delete_sweep</i>
              <p>Supprimer un commentaire</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div> #}

  <!-- Border Left Utilities -->
  <div class="container">
    <div class="d-flex justify-content-center">
      <div class="col-lg-6">

        <div class="card mb-4 py-3 border-left-primary">
          <div class="card-body">
            <a href="index.php?action=createPost">
              <i class="material-icons">note_add</i>
              <span>Ecrire un billet</span>
            </a>
          </div>
        </div>

        <div class="card mb-4 py-3 border-left-success">
          <div class="card-body">
            <a href="index.php?action=adminListPosts">
              <i class="material-icons">create</i>
              <span>Modifier un billet</span>
            </a>
          </div>
        </div>

        <div class="card mb-4 py-3 border-left-info">
          <div class="card-body">
            <a href="index.php?action=adminListPosts">
              <i class="material-icons">delete_sweep</i>
              <span>Supprimer un billet</span>
            </a>
          </div>
        </div>

        <div class="card mb-4 py-3 border-left-warning">
          <div class="card-body">
            <a href="index.php?action=reportedCommentsList">
              <i class="material-icons">note_add</i>
              <span>Les commentaires signalés</span>
            </a>
          </div>
        </div>

        <div class="card mb-4 py-3 border-left-danger">
          <div class="card-body">
            <a href="index.php?action=commentsList">
              <i class="material-icons">delete_sweep</i>
              <span>Liste des commentaires</span>
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
{% endblock %}
