{% block layout %}
  <!DOCTYPE html>
  <html lang="fr">

    <head>
      {% block head %}
        {% include('backend/head.twig') %}
        <title>
          {% block title %}
            {{title}}
          {% endblock %}
        </title>
      {% endblock %}
    </head>

    <body>
      <!-- Page Wrapper -->
      <div id="wrapper">
        {% include('backend/header.twig') %}
        <main>
          {% block content %}{% endblock %}
        </main>
      </div>
      {% include('backend/footer.twig') %}
    </div>
  </div>
  {% include('backend/scripts_footer.twig') %}
</body>
</html>
{% endblock %}
