{% block header %}
	<!-- header -->
	<div class="header">
		<div class="container">
			<div class="layouts_logo">
				<a href="index.php">
					<h1>Star<span>Movies</span>
					</h1>
				</a>
			</div>
			<div class="sign_in_register">
				<ul>
					<li><a onclick="document.getElementById('popupLogin').style.display='block'" style="width:auto;cursor:pointer">Se connecter</a></li>
				</ul>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
{% endblock %}
