{% extends '/frontend/layout.twig' %}

{% block head %}
	{{ parent() }}
	<script src="../public/js/api/topRatedMovies.js"></script>
{% endblock %}

{% block content %}
	<section>
		<div class="jumbotron text-center">
			<div class="container">
				<h1>Films les mieux notés</h1>
				<p class="lead">Une sélection des derniers films les mieux notés.</p>
			</div>
		</div>

		<div class="album py-5 bg-light">
			<div class="container">
				<div class="row"></div>
			</div>
		</div>

		<div class="d-flex justify-content-center">
			<a type="button" href="index.php" class="btn-default">Retour</a>
		</div>
	</section>
{% endblock %}
